​.speech-bubble-container {
 position: fixed;​
 width: 100%;
 bottom : 20px;
 z-index : 1000;
 }
    .speech-bubble {
    padding​: 0 10​px​;
    min-height​: 58​px​;
    position​: relative​;
    width​: 100​%​;
    background​: #cfccc4​;
    } 
    .speech-bubble​ :​ after {
    content​: ​ ''​;
    position​: ​ absolute​;
    bottom​: 0​;
    left​: 50​%​;
    width​: 0​;
    height​: 0​;
    border​: 20​ px solid transparent​;
    border-top-color​: #cfccc4​;
    border-bottom​: 0​;
    margin-left​: -​20​px​;
    margin-bottom​: -​20​px​;
    }
    .close-install-message-icon {
    position​: absolute​;
    right​: 1​px​;
    top​: 1​px​;
    color​: #31b0d5 !important​;
    }